/* 站点首页样式 */

.cloud-displayNone {
    display: none;
}

.cloud-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #222;
    height: 60px;
}

.head-content {
    min-width: 1200px;
}

.head-nav {
    height: auto;
}

.head-nav ul li {
    float: left;
    width: 80px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    /* Safari */
}

.active,
.navActive {
    position: relative;
    top: 0;
    left: 0;
    background-color: #009688;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}

.head-nav ul {
    display: inline-block;
}

.head-nav ul li:hover {
    font-size: 14px;
    /* background-color: #009688; */
    box-sizing: border-box;
    transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    /* IE 9 */
    -moz-transform: scaleX(1.1);
    /* Firefox */
    -webkit-transform: scaleX(1.1);
    /* Safari 和 Chrome */
    -o-transform: scaleX(1.1);
}

.head-nav ul li a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.nav-bottom-line {
    /* background: linear-gradient(to right, darkorange, orangered); */
    background-color: #fff;
    height: 2px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    bottom: 5px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.indexArea {
    margin: 0 auto;
}

.cloud-text-center {
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.cloud-circle {
    border-radius: 50%;
    border: 6px solid #fff;
}

.img {
    margin-bottom: 10px;
    display: inline-block;
}

.section:nth-child(1) {
    background-color: #009688;
    height: 973px;
}

.section:nth-child(2) {
    background-color: #5FB878
}

.section:nth-child(3) {
    background-color: #393D49
}

.section:nth-child(4) {
    background-color: #FF5722;
}

.cloud-footer {
    background-color: #222;
    height: 60px;
    position: relative;
    left: 0;
    bottom: 60px;
    z-index: 9999;
    line-height: 60px;
}

.foot-content {
    min-width: 1200px;
}

.footLinks {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.footLinks li {
    width: 80px;
    height: 50px;
    float: left;
}

.footLinks li a {
    color: #fff;
}

.footLinks li:first-child {
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    color: #009688;
}

@media all and(max-width: 320px) {
    .textCenter {
        color: brown!important;
    }
}

@media only screen and(min-width: 320px) and (max-width:640px) {
    .textCenter {
        color: green!important;
    }
}